<div class="container">
  <h1>Stupid coaching</h1>

  <form action="/answer" method="get" class="form-group">
    <label for="GET-question">Ask your coach anything:</label>
    <input id="GET-question" type="text" name="question" class="form-control">
    <input type="submit" value="Ask" class="btn btn-primary">
  </form>
</div>
